.form_footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.link {
    color: var(--blue-9);
    text-decoration: underline;
}

.server-error {
    color: var(--tomato-9)
}
