.dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid var(--gray-7);
    width: 210px;
    background-color: var(--gray-1);
    border-radius: 4px;
    padding: 5px;
    box-shadow: 2px 2px 5px var(--gray-9);
}
