*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --fs-xs: 12px;
  --fs-s: 14px;
  --fs-m: 16px;
  --fs-xm: 20px;
  --fs-l: 36px;
  --fs-xl: 48px;
  --fw-m: 500;
  --fw-l: 700;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
