@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');
@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/tomato.css';
@import '@radix-ui/colors/yellow.css';
@import '@radix-ui/colors/black-alpha.css';

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --fs-1: 12px;
  --fs-2: 14px;
  --fs-3: 16px;
  --fs-4: 18px;
  --fs-5: 20px;
  --fs-6: 22px;
  --fs-7: 36px;
  --fs-8: 48px;
  --fw-m: 500;
  --fw-l: 700;
}

body {
  font-family: 'Open Sans', sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
